<nav class="navbar">
  <div class="logo">
    <a class="logo" href="/"><img src="/imgs/logo.png" alt="" /></a>
  </div>
  <div class="links">
    <ul>
      <li><a id="home" class="navLinks" href="/">HOME</a></li>
      <li><a id="create" class="navLinks" href="/create">POST</a></li>
    </ul>
  </div>
</nav>

<script src="/index.js"></script>
