<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/styles/style.css" />
    <title>muBlog</title>
  </head>

  <header><%- include("partials/header.ejs") %></header>

  <body>
    <div class="container view">
      <div class="left-div div">
        <div class="content">
          <h3 class="title"><%= title %></h3>
          <p class="contentP"><%= content %></p>
        </div>
      </div>
      <div class="right-div div viewDiv">
        <form action="/delete" method="post">
          <button class="delete" type="submit">DELETE</button>
        </form>
        <a href="/edit/<%= postId %>"><button>EDIT</button></a>
      </div>
    </div>
  </body>
</html>
